# Define defaults to use in the Vagrantfile.

# Number of virtual machine instances.
instances: 1

# The number of CPUs to use.
cpus: 2

# The amount of memory to assign.
memory: 2048

# Location of your local Keylime git repository to sync into the virtual
# machine. This allows you to test your code within the VM.
repo: '/path/to/keylime'

# Location of your local Keylime Rust agent git repository to sync into the virtual
# machine. This allows you to test your code within the VM.
agent-repo: '/path/to/keylime-rust'

# Set verbosity during Ansible provisioning.
verbose: false
