[Unit]
Description=IBM TPM emulator service for Keylime
After=network.target

[Service]
ExecStartPre=rm -rf /var/run/tpm0
ExecStartPre=mkdir -p /var/run/tpm0
ExecStartPre=chmod 700 /var/run/tpm0
ExecStartPre=swtpm_setup --tpm2 --tpmstate /var/run/tpm0 --createek --decryption --create-ek-cert --create-platform-cert --display
ExecStart=swtpm chardev --tpm2 --vtpm-proxy --tpmstate dir=/var/run/tpm0

[Install]
WantedBy=default.target
